[Unit]
Description=My Project
After=network.target
ConditionPathExists=/home/alaqan/my-project/my-project

[Service]
User=alaqan
Group=www-data
Type=simple

Restart=always
RestartSec=60
TimeoutSec=300
TimeoutStopSec=15
KillMode=mixed

WorkingDirectory=/home/alaqan/my-project
ExecStart=/home/alaqan/my-project/my-project

EnvironmentFile=/home/alaqan/my-project/.env

# make sure log directory exists
ExecStartPre=+/bin/mkdir -p /var/log/my-project
ExecStartPre=+/bin/chown alaqan:alaqan /var/log/my-project
ExecStartPre=+/bin/chmod 755 /var/log/my-project

[Install]
WantedBy=multi-user.target